@media screen and (max-width: 500px) {
    .navBar div span a{
      float: none;
      display: block;
    }
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    color: #000;
    padding: 15px;
    position: fixed;
    min-width: -webkit-fill-available;
}

.navBar div span a:hover {
    text-decoration: white;
  }

.navSearch {
    flex: 1;
    margin-right: 5px;
}

.redirectLinks {
    flex: 2;
    text-align: center;
}

.navIconMain {
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.navIconSub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navIcons{
    flex: 1;
    height: 30px;
    width: 30px;
    padding-right: 30px;
}

.navElements {
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
    padding: 5px;
}

.titleSize {
    font-size: 24px;
    font-weight: bold;
}

.navBarSub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarSubLeft{
    flex: 1;
    min-width: fit-content;
}

.navBarSubCenter{
    flex: 2;
    min-width: fit-content;
}

.navBarSubRight{
    flex: 3;
    min-width: fit-content;
}

.mainInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgrey;
}
.mainTextInfo{
    flex: 1;
    margin-left: 200px;
}
.mainImage{
    flex: 2;
}
.itemPrice{
    text-decoration: line-through;
}
.itemTitle{
    font-size: 20px;
}